<% provide(:title, 'About') %>
<h1>Contact</h1>
<p>
  The <a href="http://www.railstutorial.org">Ruby on Rails Tutorial</a> is a book and screencast series to teach web development with Ruby on Rails.This is the simple application for the tutorial.
</p>